<h1>{{title}}</h1>
<form method="post" action="/new">
    <fieldset>
        <legend>Post A New Space Message</legend>
        {{!-- <ul> --}}
            <p>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name"/>
            </p>
            <p>
                <label for="text">Text: </label>
                <textarea cols="5" rows="3" id="text" name="text"></textarea>
            </p>
        {{!-- </ul> --}}
        <p class="button-holder">
            <button type="button" class="cancel"><a href="/">Cancel</a></button>
            <button type="submit">To Space!</button>
        </p>
    </fieldset>
</form>